.services {
    background-color: #fff;
    padding: 50px 0;
  }
  
  .services h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service {
    width: 30%;
    margin: 10px;
    text-align: center;
  }
  
  .service i {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .service h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .service p {
    margin-bottom: 0;
  }